@import url(../landingpage/landingpage.css);
@import url(../rules/rules.css);

:root {
    --success: rgb(16, 189, 16);
    --wrong: rgb(255, 5, 5);
    --light-primary-lue: #50627a;
}


body {
    background-color: var(--primary-blue);
}

.question-continer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--third-white);
}

.question {
    margin: 3rem;
}

.question-box {
    padding: 0 10rem;
}

.question-n-score {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

.score {
    text-align: center;
}

.option {
    padding: 1rem;
    border-radius: 2rem;
    margin: 1rem 0;
    text-align: center;
    background-color: var(--light-primary-lue)
}

.result-continer {
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--third-white);
    padding: 2rem;
}

.success {
    background-color: var(--success);
}

.wrong {
    background-color: var(--wrong);
}