
html{
    font-size: 90%;
}

.comp-mynav {
    width: auto;
    padding: 10px 3rem;
    grid-area: nav;
    background-color: #2d4059;
}

.comp-mynav-logo {
    font-size: 2rem;
}
.menu{
    margin-left: auto;
}
.menu ul {
    
    font-size: 1rem;
    padding: 0 .5rem;
    margin: 0 1rem
}

.menu li {
    font-size: 1.2rem;
    list-style-type: none;
    display: inline-block;
    padding: 0 5px;
    color: #fff;
}

.header{
    display: flex;
    padding: 10rem;
    justify-content: center;
    align-items: center;
   
}
.header-img img{
   width: 35rem;
}
.header-content{
    text-align: center;
    font-size: 1.5rem;
}

@media only screen and (max-width:900px){
   html {
       font-size: 80%;
   }
   .header {
       flex-direction: column;


   }

}

@media only screen and (max-width:450px){
    html {
        font-size: 60%;
    }
}